
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark navbar-transparent flex-column fixed-top">
  
  <div class=" container-fluid">
    <div class=" navbar-wrapper d-inline">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button" data-target="#searchModal" data-toggle="modal"
          (click)="open(content)" id="search-button">
          <span class="fa fa-sitemap"> </span>
      
        </button>
      </div>
    </div>

    

    <div class="search-box navbar-toggle d-inline">
      <ul class="navbar-nav m-auto search-box">
        <li class="search-bar">
          <input type="search" class="form-control" placeholder="Search...">
        </li>
      </ul>
    </div>
    <button aria-label="Toggle navigation" class=" navbar-toggler" (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" id="navigation" type="button">
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
    </button>
    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      <ul class=" navbar-nav ml-auto">
        <li class=" search-bar input-group">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class=" tim-icons icon-sound-wave"> </i>
            <span class="white d-md-block">PREMIUM</span>
          </a>
        </li>
        <li class=" search-bar input-group">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class=" tim-icons icon-heart-2"> </i>
            <span class="white d-md-block">Favorite</span>
          </a>
        </li>
        <li class=" search-bar input-group">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class=" tim-icons icon-cart"> </i>
            <span class="white d-md-block">Basket</span>
          </a>
        </li>
        
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    
    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      <ul class=" navbar-nav mx-auto">
        <li class=" search-bar input-group px-4">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class="fa fa-phone"> </i>
            <span class="white d-md-block">+7123456789</span>
          </a>
        </li>
        <li class=" search-bar input-group px-4">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class="fa fa-address-card"> </i>
            <span class="white d-md-block">Contacts</span>
          </a>
        </li>
        <li class=" search-bar input-group px-4">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class="fa fa-question fa-question-circle"> </i>
            <span class="white d-md-block">Help</span>
          </a>
        </li>
        <li class=" search-bar input-group px-4">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class="fas fa-ambulance"></i>
            <span class="white d-md-block">Our COVID-19 response</span>
          </a>
        </li>
      
        <li class=" nav-item px-4" ngbDropdown>
          <a class=" nav-link font-weight-bold" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
            
            <a class="fas fa-language"></a>
            <span class="white d-md-block">Language</span>
          </a>
          <ul class=" dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Ru
              </a>
            </li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                UA
              </a>
            </li>
            
          </ul>
        </li>
        <li class=" search-bar input-group px-4">
          <a class="  btn btn-link" href="javascript:void(0)">
            <i class="fas fa-globe"></i>
            <span class="white d-md-block">City</span>
            
          </a>
          
        </li>
        <li class=" nav-item px-4" ngbDropdown>
          <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
            <div class=" photo">
              <img alt="Profile Photo" src="../../../assets/img/avatar.png" />
            </div>
            <b class=" caret d-none d-lg-block d-xl-block"> </b>
            <p class=" d-lg-none">Log out</p>
          </a>
          <ul class=" dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Profile
              </a>
            </li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Settings
              </a>
            </li>
            <li class=" dropdown-divider"></li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Log out
              </a>
            </li>
          </ul>
        </li>
        <li class=" separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class=" modal-header">
    <input class=" form-control" id="inlineFormInputGroup" placeholder="SEARCH" type="text" />

    <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>