.chart-area{
    height: auto !important;
}
.content{
    padding-top: 100px !important;
}
.card-body{
    padding: 2px;
    min-height: 170px;
}
.img img{
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.description{
    // color:white;
    font-size: 10px;
}
.price{
    // color: white;
    font-size: 12px;
}
.card{
    box-shadow: 0 3px 5px #151615;
    transition: 0.2s;
}
.card:not(.card-chart):hover{
    border: 1px solid red;
    transform: scale(1.05);
    z-index: 1000;
    cursor: pointer;
}